nav{

}

/*Header的样式设计*/
.fd-header{
    position: relative;
    width: 100%;
    height: 70%;
    background: #323232;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fd-header .fd-title{
    font-size: 100px;
}

.fd-nav{
    background: #323232;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding: 0 20px;
}

.fd-nav .fd-nav-login{
    color: white;
}

